<div class="jumbotron mt-4">
  <h1 class="display-4">Welcome to our car app</h1>
  <p class="lead">App Nodejs And Mongodb!</p>
  <hr class="my-4">
  <h3>Our vision is that people can have an inventory of their vehicles.</h3>
</div>